
.qqq{
	font-size: 30px;
}

.contactme{
	text-align: center;
	margin-right: 35px;
	margin-top: 10px;

	


}
ul,li {
	text-decoration: none;
	
	
  list-style-type: none;
  display: inline;
  
}
.TextCenter{

	text-align: center;

}
.imgtop{

	margin-top: 10px;
}

.toprow{

	margin-top: 20px;
	margin-bottom: 30px;

}
.h2font{
	font-family: 'Alfa Slab One', cursive;
	font-weight:  100;
	text-align: center;
	letter-spacing: 2px;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}
{



}
.h1font{
	font-family: 'Comfortaa', cursive;
font-size: 45px;
	
	font-weight:  100;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

.btn{
	font-family: 'Comfortaa', cursive;
font-size: 50px;
margin-top: 10px;
display: inline-block;
/*font-color:#ffffff;
	
	font-weight:100;
	border:1px solid;
	
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;*/
}



@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}








.contactme{
	
}

