ul li a {

text-decoration: none;
font-family: Helvetica;
background-color: red;
color: white;

width: 100px;
margin-top: 10px;
margin: 5px;



padding: 10px;
text-align: center;
border: 1px solid  black;
border-radius: 3px;
height: 20px;
line-height: 20px;
float: left;




}

#nav{

	height: 60px;
	background-color: black;


}
ul{
	list-style: none;
	padding: 0;
	margin-top: 20PX;
	
}
a:hover {

	background-color: lime;
	border: 2px solid green;
	
}
li{
	display:inline;
	
}